<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithMe"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AddressSearchActivity"
            android:exported="true" />
        <activity
            android:name=".AccountFindActivity"
            android:exported="true" />
        <activity
            android:name=".administrator.AdminServiceActivity"
            android:exported="true" />
        <activity
            android:name=".administrator.AdminDepositManagementActivity"
            android:exported="true" />
        <activity
            android:name=".administrator.AdminServiceResultWriteActivity"
            android:exported="true" />
        <activity
            android:name=".administrator.AdminKidInformationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".administrator.AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".DepositChargingHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ServiceUsageHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ServiceResultActivity"
            android:exported="true" />
        <activity
            android:name=".KidInformationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalAuthActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".AddressActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".ServiceActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="u51ixkqodc" />

        <activity
            android:name=".SignupActivity"
            android:exported="true" />
    </application>

</manifest>